/*Div principal de controller Reositorio*/
body{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.div-principal{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border-radius: 8px;
    background-color: rgb(218, 221, 226);
    width: 280px;
}
#divSecundario{
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    margin-bottom: 15px;
}

.paragrafos{
    margin-top: 5px;
    margin-bottom: -2px;
    text-align: center;
}

.btn{
    width: 200px;
    margin-top: 5px;
}